body{
    background-color: blue;
}
h1{
    color:aliceblue
}
h3{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
a{
    color: aliceblue;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
a{
    text-align: center;
}